meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="")
meta(property="og:type", content="website")
meta(property="og:url", content="")
meta(property="og:image", content="https://www.izumi-ar.com/img/ogp.webp")
meta(property="og:site_name", content="泉龍斗建築設計")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@")
meta(name="twitter:creator", content="@")
