header.l-header.js-header
  .l-header__inner
    .l-header__logo
      .p-block-logo
        a.p-block-logo__link(href="/")
          img.p-block-logo__img(src="/img/logo.svg", alt="")
    .l-header__nav
      include ./_nav_global.pug
    .l-header__btn
      .l-header__btn__inner
        .c-hamburger.js-button-hamburger
          .c-hamburger__inner
            .c-hamburger__lines
              i.c-hamburger__line
              i.c-hamburger__line

.l-nav.l-nav--fade
  .l-nav__wrap
    .l-nav__inner
      .l-nav__nav
        include ./_nav_global.pug

