nav.p-nav-global
  .p-nav-global__box
    .p-nav-global__item
      a.p-link-gnav(href="/works/") works
    .p-nav-global__item
      a.p-link-gnav(href="/about/") about
    .p-nav-global__item
      a.p-link-gnav(href="/blog/") blog
    .p-nav-global__item
      a.p-link-gnav(href="/news/") news
    .p-nav-global__item
      a.icon-instagram.u-link-tdn(href="https://www.instagram.com/lzuml_ryuto/" target="_blank") 
