include ../_components/_config.pug

doctype
html(lang="ja")
  head
    include ../_components/_head_meta.pug
    meta(property="og:title", content=SITE_NAME)
    include ../_components/_head_link.pug
    title #{SITE_NAME}
  body
    div(style="display:none")
      include ../_components/_sprite.pug
    include ../_components/_header.pug
    main.l-main
      .l-main__contents 
        .p-section-primary
          section.p-section-primary__item.u-inner.u-inner--narrow
            .p-block-primary
              .p-block-primary__header
                .p-block-primary__title
                  .p-title-primary.p-title-primary--large
                    .p-title-primary__item about
                .p-block-primary__summary 
                  p.u-text-center-br-none.u-lh-large 泉竜斗建築設計は、住宅を主に手がける設計事務所です。
                    br
                    | 私は多くの方が携わる家づくりの中で、設計という役目を担い、
                    br 
                    | 建て主が求める想いをかたちにしていきます。
              .p-block-primary__contents.u-editor
                section
                  h2.p-title-secondary
                    .p-title-secondary__item profile
                  p.u-text-center 泉 竜斗 | いずみ りゅうと
                    br
                    | 建築家・一級建築士
                  picture.u-text-center
                    source(srcset="/img/about-01@2x.webp 2x", type="image/webp")
                    img.u-img-width-auto(src="/img/about-01.webp", alt="", style="max-width: 257px")
                  p.u-text-pc-center 1988
                    br
                    | 長崎県南島原市生まれ
                    br
                    | 2011
                    br
                    | 佐賀大学理工学部都市工学科 卒業
                    br
                    | 2014
                    br
                    | 佐賀大学大学院工学系研究科都市工学専攻 修了
                    br
                    | 2014
                    br
                    | 株式会社 INTERMEDIA 入社｜長崎県島原市
                    br
                    | （主に保育園やゲストハウスなど公共施設を担当）
                    br
                    | 2018
                    br
                    | class archi 株式会社 入社｜佐賀県鳥栖市
                    br
                    | （主に個人住宅を担当）
                    br
                    | 2024
                    br
                    | 泉竜斗建築設計　設立｜佐賀県鳥栖市
                section
                  h2.p-title-secondary
                    .p-title-secondary__item access
                  p.u-text-center 〒841-0051
                    br
                    | 佐賀県鳥栖市元町1336-3
                    br
                    | 大山アパート203
                    br
                    | 駐車場：有
                    br
                    | メール：
                    a(href="mailto:info@izumi-ar.com") info@izumi-ar.com
                  p.u-text-center
                    a.icon-instagram.u-link-tdn.u-font-22(href="https://www.instagram.com/lzuml_ryuto/" target="_blank") 
                  .c-iframe
                    iframe.c-iframe__item(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.862341002974!2d130.50591071195308!3d33.37465975309238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541a308db0c5603%3A0x8cf07e52767e7495!2z44CSODQxLTAwNTEg5L2Q6LOA55yM6bOl5qCW5biC5YWD55S677yR77yT77yT77yW4oiS77yTIOWkp-WxseOCouODkeODvOODiA!5e0!3m2!1sja!2sjp!4v1758772774541!5m2!1sja!2sjp", width="600", height="450", style="border:0;", allowfullscreen, loading="lazy", referrerpolicy="no-referrer-when-downgrade")
              .p-block-primary__contents

    include ../_components/_footer.pug
