@charset "utf-8";
:root {
  --outer-height: 100vh;
}
html {
  font-size: 62.5%;
}
body,
html {
  height: 100%;
}
body {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-medium);
  color: var(--white);
  -webkit-text-size-adjust: 100%;
  @include font-smoothing(1);
  background-color: var(--black);
}
input,
select,
textarea {
  font-family: var(--font-family-sans-serif);
}
button {
  border: 0;
  background-color: transparent;
}
p {
  line-height: var(--line-height-medium);
  @include line_height_crop(var(--line-height-medium));
}
li,
th,
td,
dt,
dd,
a,
input[type="submit"],
input[type="button"] {
  line-height: 2;
  letter-spacing: 0.05rem;
  font-feature-settings: "pkna";
}
input[type="file"] {
  line-height: 1;
  font-size: 1.4rem;
  vertical-align: middle;
}
submit,
button {
  &:focus {
    outline: none;
  }
}
h1,
h2,
h3,
h4 {
  line-height: 1.9;
  letter-spacing: 0.05em;
}
a {
  color: var(--blue-dark);
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-wrap: break-word;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  * {
    outline: none;
  }
  &:focus {
    outline: none;
  }
  // &[href$=".mp3"],
  // &[href$=".jpg"],
  // &[href$=".jpeg"],
  // &[href$=".txt"],
  // &[href$=".ppt"],
  // &[href$=".pptx"],
  // &[href$=".xls"],
  // &[href$=".xlsx"],
  // &[href$=".doc"],
  // &[href$=".docx"],
  // &[href$=".pdf"] {
  // 	&:not(.is-noicon) {
  // 		display: inline-block;
  // 		padding: 10px 0 10px 50px;
  // 		position: relative;
  // 		&::after {
  // 			content: "";
  // 			position: absolute;
  // 			top: 50%;
  // 			transform: translateY(-50%);
  // 			left: 0;
  // 			width: 30px;
  // 			height: 39px;
  // 			background-repeat: no-repeat;
  // 			background-position: center;
  // 		}
  // 	}
  // }
  // &[href$=".mp3"],
  // &[href$=".jpg"],
  // &[href$=".jpeg"],
  // &[href$=".txt"],
  // &[href$=".ppt"],
  // &[href$=".pptx"],
  // &[href$=".xls"],
  // &[href$=".xlsx"] {
  // 	&::after {
  // 		background-image: url(../img/common/file-other.svg);
  // 	}
  // }
  // &[href$=".docx"],
  // &[href$=".doc"] {
  // 	&::after {
  // 		background-image: url(../img/common/file-doc.svg);
  // 	}
  // }
  // &[href$=".pdf"] {
  // 	&::after {
  // 		background-image: url(../img/common/file-pdf.svg);
  // 	}
  // }
}

textarea,
input[type="text"],
input[type="tel"],
input[type="email"] {
  @include placeholder(#a0a0a0);
}
svg,
img {
  max-width: 100%;
  // width: 100%;
}
img {
  @include mq_medium_max {
    width: 100%;
  }
}
i {
  font-style: normal;
}

@include mq_medium {
  body {
  }
  a[href^="tel:"] {
    pointer-events: none;
    text-decoration: none;
  }
}
