@charset "utf-8";
:root {
  --outer-height: 100vh;
}
html {
  font-size: 62.5%;
}
body,
html {
}
body {
  font-family: "Playfair Display", "Shippori Mincho", serif;
  font-size: get_vw_min(16, 18, 390);
  color: var(--black);
  -webkit-text-size-adjust: 100%;
  @include font-smoothing(1);
  background-color: var(--gray-bg);
}
input,
select,
textarea {
  font-family: var(--font-family-serif);
}
button {
  border: 0;
  background-color: transparent;
}
p {
  line-height: var(--line-height-medium);
  @include line_height_crop(var(--line-height-medium));
}
li,
th,
td,
dt,
dd,
a,
input[type="submit"],
input[type="button"] {
  line-height: var(--line-height-small);
  letter-spacing: 0.05em;
  font-feature-settings: "pkna";
}
input[type="file"] {
  line-height: 1;
  font-size: 1.4rem;
  vertical-align: middle;
}
submit,
button {
  &:focus {
    outline: none;
  }
}
h1,
h2,
h3,
h4 {
  line-height: 1.9;
  letter-spacing: 0.05em;
}
a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-wrap: break-word;
  text-decoration: underline;
  color: var(--black);
  &:hover {
    text-decoration: none;
  }
  * {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

textarea,
input[type="text"],
input[type="tel"],
input[type="email"] {
  @include placeholder(#a0a0a0);
}
svg,
img {
  max-width: 100%;
  // width: 100%;
}
img {
  @include mq_medium_max {
    width: 100%;
  }
}
i {
  font-style: normal;
}

@include mq_medium {
  body {
  }
  a[href^="tel:"] {
    pointer-events: none;
    text-decoration: none;
  }
}
