@charset "utf-8";

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
object,
time,
small {
	margin: 0;
	padding: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
li {
	list-style: none;
}
img,
svg {
	vertical-align: bottom;
}
section,
div,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
a,
nav,
header,
article,
aside {
	box-sizing: border-box;
}
