- var PAGE_TITLE = "redjuice画集 MI:IM";

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="11年ぶりとなる待望の最新商業画集、ついに解禁。本画集には、数々の話題作に提供した珠玉のビジュアルをはじめ、キャラクターデザイン、衣装設定、未公開ラフスケッチまで収録した、まさにredjuiceの“現在地”を凝縮した決定版。想像の限界を更新し続けるredjuice、その軌跡を刻む一冊。")
    meta(property="og:type", content="website")
    meta(property="og:title", content=PAGE_TITLE)
    meta(property="og:url", content="https://www.uncron.com/miim/")
    meta(property="og:image", content="https://www.uncron.com/miim/img/ogp.webp")
    meta(property="og:site_name", content="REDBOX")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@uncron_t")
    meta(name="twitter:creator", content="@uncron_t")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap")
    link(rel="stylesheet", href="./css/main.css")
    script(src="/assets/js/min/analysis.min.js")
    title #{PAGE_TITLE}
  body
    div(style="display:none")
      include _components/_sprite.pug
    .l-header-sp.js-sp-header
      img(src="./img/title-01-sp.svg", alt="redjuice 画集Mi:iM").l-header-sp__title
    .l-header
      h1.l-header__item 
        svg(width="19", height="209", viewBox="0 0 19 209").l-header__title
          title redjuice 画集Mi:iM
          use(href="#title-01" )

    .l-bg
      .l-bg__red
        .l-bg__red-item
          img(src="./img/bg-red-01.svg", alt="")
      .l-bg__white
        .l-bg__white-item
          img(src="./img/bg-white-01.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-02.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-03.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-04.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-05.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-06.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-07.svg", alt="")
        .l-bg__white-item
          img(src="./img/bg-white-08.svg", alt="")
    main.l-main
      .l-main__contents 
        .p-section-primary
          section.p-section-primary__item
            .p-block-intro
              .p-block-intro__pic
                .p-block-intro__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/pic-02.webp", alt="")
                .p-block-intro__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/pic-01.webp", alt="")
              .p-block-intro__title.js-sp-title
                img(src="./img/title-01-sp.svg", alt="redjuice 画集Mi:iM")
              .p-block-intro__data.u-inner-sp
                .p-block-text
                  h2.u-font-28.u-font-sp-24 11年ぶりとなる待望の
                    br
                    | 最新商業画集、ついに解禁。
                  p.u-font-18 唯一無二のビジュアル表現で国内外のファンを魅了し続けるredjuice。その鋭い感性と緻密な描写で生み出されたキャラクターたちは、時代を超えて記憶に残り続けている。
                  p.u-font-18 本画集には、TVアニメ『ギルティクラウン』や音楽ユニットEGOIST、SF小説/アニメ『BEATLESS』をはじめ、ホロライブEN所属Vsinger・IRyS、初音ミク、ゲーム『アークナイツ』『Fate/GrandOrder』など、数々の話題作に提供した珠玉のビジュアルを網羅。キャラクターデザイン、衣装設定、未公開ラフスケッチまで収録した、まさにredjuiceの“現在地”を凝縮した決定版。
                  p.u-font-18 想像の限界を更新し続けるredjuice、その軌跡を刻む一冊。

          section.p-section-primary__item
            .p-block-news
              .p-block-news__pic
                .p-block-news__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/pic-02.webp", alt="")
                .p-block-news__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/pic-03.webp", alt="")
              .p-block-news__data
                .p-block-contents.u-inner-sp
                  .p-block-contents__title
                    h2.p-title-primary
                      .p-title-primary__item NEWS
                  .p-block-contents__data
                    .p-block-news-list
                      .p-block-news-list__item
                        .p-block-news-list__title 
                          p 2025.08.01
                        .p-block-news-list__data
                          p 刊行記念イベントを「銀座蔦屋書店」にて開催決定！
                      .p-block-news-list__item
                        .p-block-news-list__title
                          p 2025.06.15
                        .p-block-news-list__data
                          p 11年ぶりとなる待望の最新商業画集、ついに解禁。
              .p-block-news__pic2
                .p-block-news__pic2-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/pic-04.webp", alt="")

          section.p-section-primary__item
            .p-block-detail.u-inner
              .p-block-detail__data
                .p-block-contents
                  .p-block-contents__title
                    h2.p-title-primary
                      .p-title-primary__item DETAIL
                  .p-block-contents__data
                    .p-block-detail-list
                      .p-block-detail-list__item
                        .p-block-detail-list__title 発売日
                        .p-block-detail-list__data 
                          .p-text-date
                            .p-text-date__item 2025
                            .p-text-date__item .9.9
                            .p-text-date__item tue
                      .p-block-detail-list__item
                        .p-block-detail-list__title 判型・
                          .u-disp-inb ページ数
                        .p-block-detail-list__data A4・208ページ
                      .p-block-detail-list__item
                        .p-block-detail-list__title 仕様
                        .p-block-detail-list__data スリーブケース＋本体冊子
                      .p-block-detail-list__item
                        .p-block-detail-list__title 販売価格
                        .p-block-detail-list__data 4,000円＋税
                      .p-block-detail-list__item
                        .p-block-detail-list__title 出版社
                        .p-block-detail-list__data 株式会社玄光社
                    .is-pc
                      a(href="https://www.amazon.co.jp/dp/4768330681" target="_blank").p-button-primary
                        .p-button-primary__item ご購入・ご予約はこちら
              .p-block-detail__button.is-sp
                a(href="https://www.amazon.co.jp/dp/4768330681" target="_blank").p-button-primary
                  .p-button-primary__item ご購入・ご予約はこちら
              .p-block-detail__pic
                .p-block-detail__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/detail-01.webp", alt="")
                .p-block-detail__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/detail-02.webp", alt="")
                .p-block-detail__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/detail-03.webp", alt="")
                .p-block-detail__pic-item
                  .u-anime-mask.u-anime-mask--from-top-left.js-scroll_animation
                    img.u-anime-mask__item(src="./img/detail-04.webp", alt="")

          section.p-section-primary__item
            .p-block-message.u-inner
              .p-block-message__data
                .p-block-contents
                  .p-block-contents__title
                    h2.p-title-primary
                      .p-title-primary__item MESSAGE
                  .p-block-contents__data
                    .p-block-message-list
                      .p-block-message-list__item
                        .p-block-text
                          p 前回の画集発売から、気がつけばもう12年が経ちました。ありがたいことに、今も変わらず絵が人生の中心にあります。
                          p この12年の間に、仕事の幅も少しずつ広がりました。アニメと音楽、VOCALOIDからこの業界に入り、ソーシャルゲームの隆盛を経て、今はYouTubeやSNSの大きな波の中にいます。フィールドごとに求められるスキルやスタイルは違い、今もなお研究と模索、挑戦の毎日が続いています。
                          p 特に大きな挑戦だったのが、伊藤計劃三部作のアニメ化に関わったことです。劇場版『屍者の帝国』『ハーモニー』『虐殺器官』はリリース時期こそ離れていましたが、異なる三つの世界観を、スタジオも監督も異なる中で、私ひとりがキャラクターデザインを担当するという、今思い返してもなかなか無茶な企画でした。色々な意味でどうにかなりそうな時期もありましたが、多くの関係者の尽力により、紆余曲折あり、どうにかなって本当に良かったです。本書でも多くのページを使って、各作品のキービジュアルやデザインを掲載しています。
                          p ソーシャルゲームやVTuberのデザイン、そして『ギルティクラウン』から派生し、長らくソロアーティストとして活躍したEGOISTを通じて、キャラクターが生まれた後も、現実世界におけるリアルタイムでの関わりに楽しさを感じるようになりました。『ギルティクラウン』を手がけていた頃は、SNSでの反応をさほど意識することもありませんでしたが、今では商業的にもSNSやYouTubeの影響力は計り知れません。新作やイベントの発表があるたび、X（旧Twitter）の反応がつい気になってしまいます。今回の作品集のタイトル『MI:IM』は、そうしたネットミーム時代の今を象徴するものとして名付けました。
                          p ソフトウェア、ハードウェアも、この12年で大きく進化しました。BlenderやUnityといった無料の3DCGソフトウェアの普及、ペイントツールやタブレット端末の進化、PC・グラフィックボード・ディスプレイの性能向上による新たなフォーマットへの対応や高解像度化、新たな印刷技術──表現の幅は以前より遥かに広がっています。元々機材好きな性格もあり、自作デバイスの制作やプラグイン開発など、テクニカルな探求にも多くの時間を費やしています。一方で、作品の魅力の本質は、やはり道具ではなく人間の内面にあると感じています。技術の発達によってあらゆるツールが便利になり続けていますが、絵描きとしての芯の部分は、変わらず精神と身体性に宿るものだと考えています。
                      .p-block-message-list__item
                        .p-block-text
                          p 生成AIについて少し触れさせていただきます。近年になって急激に発達した画像生成AIは、イラスト業界においては福音にも火種ともなる可能性を秘めていましたが、大きな批判を受けてアーティストからは触れ得ぬもの（ルビ：アンタッチャブル）として遠ざけられる結果となりました。クライアントからの依頼書にも、絶対に使うなと念を押されるレベルです。私も当初はテクニカルな面から注目していましたが、現在は距離を置いています。ここまで生成AIと相性の悪いのはイラスト業界、映像業界といったアートに関わる分野以外ではあまり見かけませんが、権利上、道徳上複雑な問題を抱えており、解決の兆しは見えません。我々絵描きは、今後も抗い続けていくことでしょう。
                          p 一方で、コーディングやライティングにおいてはChatGPTやClaudeといった大規模LLMが強力なサポートツールとして普及しており、私も時々活用しています。
                          p 2024年には、自身の集大成とも言える個展『REDBOX』を開催しました。REDBOXは第一画集のタイトルであり、近年設立した私の会社名にもなっています。『BEATLESS』の作中で長谷敏司先生が考案された言葉で、人類未到達産物を意味します。自分はそのレベルには程遠いですが、まだ見ぬ未来を夢見て、創造力と探求心が尽きないSF少年としての心は今も燃え続けています。
                          p あらためて、多くの作品を掲載するにあたり、関係者の皆様、そして応援してくださるファンの皆様に心から感謝申し上げます。本当にありがとうございました。
                          p これからも、世界に触れ、作品を生み出し続けていきます。
                          .p-block-message__sign
                            img(src="./img/sign.webp", alt="")

          section.p-section-primary__item.p-section-primary__item--bg.p-section-primary__item--red
            .p-block-contents.u-inner
              .p-block-contents__title
                h2.p-title-primary
                  .p-title-primary__item EXIHIBITION
              .p-block-contents__data
                p 画集「MI:IM」の刊行を記念し、ファンの皆さまへ感謝を込めてお届けする特別なイベントを開催します。
                .p-block-info.u-mg-t-80-vw.u-mg-sp-t40
                  .p-block-info__box
                    .p-block-info__date
                      .p-text-date2
                        .p-text-date2__item.p-text-date2__item--year 2025
                        .p-text-date2__item.p-text-date2__item--monthday .8.29
                        .p-text-date2__item.p-text-date2__item--week fri
                        .p-text-date2__item.p-text-date2__item--line.p-text-date2__item--linewhite
                        .p-text-date2__item.p-text-date2__item--monthday 9.10
                        .p-text-date2__item.p-text-date2__item--week wed
                    .p-block-info__place
                      .p-text-place
                        .p-text-place__item TOKYO
                    .p-block-info__place2.u-font-15-vw @ 銀座蔦屋書店（特設スペース）
                    .p-block-info__buttons
                      a(href="https://www.acgateway.com/ex_redjuice/", target="_blank", rel="noopener noreferrer").p-button-secondary.p-button-secondary--white
                        .p-button-secondary__item イベント情報
                      a(href="https://redjuice.booth.pm/item_lists/n31TVpOo", target="_blank", rel="noopener noreferrer").p-button-secondary.p-button-secondary--white.u-mg-t15
                        .p-button-secondary__item グッズ情報
                  .p-block-info__box
                    .p-block-info__title.u-font-20.u-font-wb 発売日に先駆け“先行販売”を実施！
                    .p-block-info__table 
                      .p-table-primary
                        .p-table-primary__item 
                          .p-table-primary__title 開催場所
                          .p-table-primary__data 〒104-0061　東京都中央区銀座6丁目10-1　GINZA SIX 6F
                        .p-table-primary__item 
                          .p-table-primary__title 開催時間
                          .p-table-primary__data 10:30～21:00
                        .p-table-primary__item 
                          .p-table-primary__title 入場料
                          .p-table-primary__data 無料
                    .p-block-info__note
                      ul.u-list-kome.u-font-14
                        li.u-lh-small 最終入場は閉場の30分前まで
                        li.u-lh-small 状況により営業時間は変更になる場合がございます。
                        li.u-lh-small 入場は入れ替え制ではございません。
                        li.u-lh-small 運営状況については
                          a(href="https://x.com/uncron_t", target="_blank", rel="noopener noreferrer") 公式X(旧Twitter)
                          | でご案内いたします。

          section.p-section-primary__item.p-section-primary__item--bg.p-section-primary__item--yellow.u-mg-t0.u-color-black
            .p-block-contents.u-inner
              .p-block-contents__title
                h2.p-title-primary
                  .p-title-primary__item.u-border-black CAMPAIGN
              .p-block-contents__data
                .p-block-info
                  .p-block-info__box
                    .p-block-info__date
                      .p-text-date2
                        .p-text-date2__item.p-text-date2__item--year 2025
                        .p-text-date2__item.p-text-date2__item--monthday .8.1
                        .p-text-date2__item.p-text-date2__item--week fri
                        .p-text-date2__item.p-text-date2__item--line.u-after-bg-black
                        .p-text-date2__item.p-text-date2__item--monthday 9.31
                        .p-text-date2__item.p-text-date2__item--week Tue
                    .p-block-info__pic
                      img(src="./img/campaign-01.webp", alt="")
                    .p-block-info__place2.u-font-15-vw @ uncron store : panel
                    .p-block-info__buttons
                      a(href="https://uncron.shop" target="_blank").p-button-secondary.p-button-secondary--black
                        .p-button-secondary__item アートパネルのご購入
                  .p-block-info__box
                    .p-block-info__title
                      h2.u-font-20.u-font-wb 直筆サイン入りアートパネル！
                      p.u-mg-t-24-vw uncron store : panelにて、画集「MI:IM」の刊行を記念し、5万円以上のアートパネルをご注文の場合、redjuice直筆サインを入れてご提供いたします。
                    .p-block-info__table 
                      .p-table-primary.p-table-primary--black
                        .p-table-primary__item 
                          .p-table-primary__title 期間
                          .p-table-primary__data 2025年8月1日から9月31日のご注文まで
                        .p-table-primary__item 
                          .p-table-primary__title 条件
                          .p-table-primary__data 5万円以上のアートパネル
                        .p-table-primary__item 
                          .p-table-primary__title 対象絵柄
                          .p-table-primary__data ご注文可能な全絵柄
                    .p-block-info__note
                      ul.u-list-kome.u-font-14
                        li.u-lh-small 「サイン入り」は、アートパネル単体でのご購入金額が税込5万円以上の場合に適用されます（注文総額ではございません）。
                        li.u-lh-small 為書きや個別のお名前入れなどは承っておりませんので、あらかじめご了承ください。

          section.p-section-primary__item.p-section-primary__item--bg.p-section-primary__item--black.u-mg-t0
            .p-block-contact.u-inner
              .p-block-contact__title
                h2.p-title-secondary
                  .p-title-secondary__item CONTACT
              .p-block-contact__data
                .p-block-contact__data-item
                  a(href="https://entry.genkosha.co.jp/contact/", target="_blank", rel="noopener noreferrer") 画集についてお問い合わせ
                .p-block-contact__data-item
                a(href="https://www.acgateway.com", target="_blank", rel="noopener noreferrer") イベントについてお問い合わせ
    footer.l-footer
      .l-footer__inner
        .l-footer__logo
          img(src="./img/title-02.svg", alt="Mi:iM").js-scroll_animation
        .l-footer__copy &copy; REDBOX
    script(src="./js/main.bundle.js")
