include _components/_config.pug

doctype
html(lang="ja")
  head
    include _components/_head_meta.pug
    meta(property="og:title", content=SITE_NAME)
    include _components/_head_link.pug
    title #{SITE_NAME}
  body
    div(style="display:none")
      include _components/_sprite.pug
    include _components/_header.pug
    main.l-main
      .l-main__contents 
        .p-section-primary.u-mg-main
          section.p-section-primary__item.u-inner
            .p-block-works-list 
              a.p-block-works-list__item(href="/works/single.html")
                .p-block-works-list__pic
                  img(src="/img/pic/shibayama01.webp", alt="")
                .p-block-works-list__data 
                  .p-block-works-list__title 朝倉の家Ⅰ
                  .p-block-works-list__sub 30坪のシンプルな平屋
              a.p-block-works-list__item(href="/works/single.html")
                .p-block-works-list__pic
                  img(src="/img/pic/shibayama01.webp", alt="")
                .p-block-works-list__data 
                  .p-block-works-list__title 朝倉の家Ⅰ
                  .p-block-works-list__sub 30坪のシンプルな平屋
            .p-block-more
              .p-block-more__item 
                a.p-link-more(href="/works/") 
                  .p-link-more__item more

          section.p-section-primary__item.u-inner
            .p-block-home-list
              .p-block-home-list__header
                .p-title-primary
                  .p-title-primary__item news
              .p-block-home-list__data
                .p-block-list
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入りますタイトルが入りますタイトルが入ります
            .p-block-more
              .p-block-more__item 
                a.p-link-more(href="/news/") 
                  .p-link-more__item more

          section.p-section-primary__item.u-inner
            .p-block-home-list
              .p-block-home-list__header
                .p-title-primary
                  .p-title-primary__item blog
              .p-block-home-list__data
                .p-block-list
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入ります
                  a(href="/news/single.html").p-block-list__item
                    .p-block-list__date 2025年9月1日
                    .p-block-list__title タイトルが入りますタイトルが入りますタイトルが入りますタイトルが入ります
            .p-block-more
              .p-block-more__item 
                a.p-link-more(href="/news/") 
                  .p-link-more__item more

          section.p-section-primary__item.u-inner
            .p-block-home-about
              .p-block-home-about__header
                img(src="/img/logo-mark.svg", alt="")
              .p-block-home-about__contents
                p 泉竜斗建築設計は、住宅を主に手がける設計事務所です。
                  br
                  | 私は多くの方が携わる家づくりの中で、設計という役目を担い、
                  br
                  | 建て主が求める想いをかたちにしていきます。
            .p-block-more
              .p-block-more__item 
                a.p-link-more(href="/about/") 
                  .p-link-more__item about
    include _components/_footer.pug
