.c-form {
  &__textarea {
    width: 100%;
    border: 2px solid var(--orange);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0;
    border-radius: 20px;
  }
  &__text {
    width: 100%;
    border: 2px solid var(--orange);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    // &--small {
    // 	max-width: 150px;
    // }
    // &--medium {
    // 	max-width: 150px;
    // }
    // &--large {
    // 	max-width: 150px;
    // }
  }
  &__date {
    width: 100%;
    border: 2px solid var(--orange);
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 0;
  }
  &__select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2210.828%22%20viewBox%3D%220%200%2016%2010.828%22%3E%20%3Cpath%20id%3D%22sankaku%22%20d%3D%22M0%2C0%2C8%2C10.828%2C16%2C0Z%22%20transform%3D%22translate(0%200)%22%20fill%3D%22%23f17f24%22%2F%3E%3C%2Fsvg%3E");
    background-position: right 15px top 50%;
    background-repeat: no-repeat;
    border: 2px solid var(--orange);
    padding: 15px 30px 15px 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
  }
  &__radio {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked + label {
      &::after {
        border: 6px solid var(--orange);
      }
    }
  }
  &__check {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked + label {
      &::before {
        display: block;
      }
    }
  }
  &__label {
    display: inline-block;
    position: relative;
    padding: 4px 0px 5px 30px;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);
      border: 2px solid var(--orange);
      border-radius: 50%;
      box-sizing: border-box;
    }
    &--check {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 22px;
        height: 22px;
        transform: translateY(-50%);
        border: 2px solid var(--orange);
        border-radius: 3px;
        box-sizing: border-box;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        box-sizing: border-box;
        background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABK0lEQVQ4jZ3TMUvdMRTG4ed/McVBzCTo1sVRXPwAhSKdBDepa4eWFoq7SEgptIhDwU1wUBCkg6ODtNDBbv0ChS51dmiGDhIEByOoXL1Xz5K8nPP+DslJOo+IksIMjvGje4T5KX42OTvyQPMEjjCF+Zjrae8B5jEcYhrrMdfvMBSgpPAEB5jDL6xd5QYCSgoddjGP/3gZc61DA/AFS23/Lub653ryXkBJYRXvm9yPue7crumVFBZKCs/7mF/hY5N/8aZfkx5e4FtJYa/dtJLCIrZazTmWY66lH6ArKYzjNybbuoFNjLaaFHP9cNcxu9ZxCft98sd4FnM9vxfQIEcuR3UV/zAbcz25y8zNKbzF2TX9epD5BqDN91OT2zHXr4PMcPszfXb5XFeGMcMFWEJS6ozo9pIAAAAASUVORK5CYII=");
        background-repeat: no-repeat;
        background-position: center;
        display: none;
      }
    }
    &--after {
      padding: 5px 30px 5px 0px;
      &::before,
      &::after {
        left: auto;
        right: 0;
      }
    }
  }
  &__btn {
    &__item {
    }
    &--conf {
      display: flex;
      justify-content: space-between;
      .c-form__btn {
        &__item {
          width: 70%;
          &:first-child {
            width: calc(30% - 10px);
          }
        }
      }
    }
  }
  &__submit {
    border-radius: 0;
    display: inline-block;
    padding: 48px 0;
    font-weight: 700;
    text-align: center;
    border: 1px solid #707070;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s;
    &:not(:disabled):hover {
      background-color: var(--black);
      border: 1px solid var(--black);
      color: #fff;
    }
    &:disabled {
      opacity: 0.3;
      color: var(--black);
    }
    &--back {
      background-color: #efefef;
      border-color: #efefef;
      @include mq_medium {
        width: 35%;
      }
      &:hover {
        background-color: #939393;
        border: 1px solid #939393;
        color: #fff;
      }
      @include mq_medium_max {
        margin-top: 20px;
        padding: 20px 0;
      }
    }
    &--send {
      @include mq_medium {
        width: 62%;
      }
    }
  }
  &__required {
    background: var(--red);
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 4px 10px 5px;
    margin-left: 10px;
    font-size: var(--fs-sm);
  }
  &__error {
    // padding: 20px 20px 25px 20px;
    // border: 4px solid var(--red);
    // position: absolute;
    // bottom: 0;
    // left: 0;
    padding-top: 10px;
    // font-weight: 700;
    // margin-top: 5px;
    color: var(--red);
  }
  /* フォーカスした時の青枠を消す */
  input:focus,
  textarea:focus,
  select:focus,
  input:valid,
  textarea:valid,
  input:invalid,
  textarea:invalid {
    outline: 0;
    background-color: #fff;
  }
  input:valid {
    // border-color: var(--blue);
    // background-color: rgba(#006cb8, 0.05);
  }
  /* バリデーション無効時 */
  input:focus:invalid {
    // border-color: var(--red);
    // background-color: rgba(#f00, 0.05);
  }

  /* バリデーション有効時 */
  input:focus:valid {
    // border-color: var(--blue);
    // background-color: rgba(#006cb8, 0.05);
  }
  /* バリデーション無効時 */
  input:focus:invalid {
    // border-color: var(--red);
    // background-color: rgba(#f00, 0.05);
  }

  .is-invalid {
    outline: 2px solid var(--red);
  }

  &-disabled {
    opacity: 0.4;
  }
  &-must {
    color: var(--red);
  }
  &-back {
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    color: var(--white);
    border: 0;
    outline: 0;
    text-align: center;
    font-size: var(--font-size-large);
    &:hover {
      text-decoration: none;
    }
  }
  &-submit {
    display: inline-block;
    width: 100%;
    line-height: 1;
    background-color: var(--white);
    padding: 40px 0;
    border: 0;
    outline: 0;
    text-align: center;
    font-size: var(--font-size-large);
    color: inherit;
    &:disabled {
      opacity: 0.4;
    }
  }
}
