.c-hamburger {
  cursor: pointer;
  width: 100px;
  height: var(--height-header);
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner {
  }
  &__lines {
    position: relative;
    margin-inline: auto;
    width: 30px;
    height: 12px;
    @include mq_medium {
      width: 35px;
      height: 14px;
    }
  }
  &__line {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    transition: 0.2s;
    transform-origin: right;
    &:nth-child(2) {
      top: calc(100%);
    }
  }
  &__label {
    text-align: center;
    line-height: 1;
    margin-top: 10px;
    @include font_size(12);
    font-weight: 500;
    @include mq_medium {
      margin-top: 15px;
    }
  }
}
.is-nav-open {
  .c-hamburger {
    &__line {
      &:nth-child(1) {
        top: 50%;
        transform-origin: center;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 50%;
        transform-origin: center;
        transform: rotate(-45deg);
      }
    }
  }
}
