.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  color: var(--white);
  &.is-show {
    animation: fadein 1s forwards;
  }
  &__wrapper {
    padding: var(--margin-side);
    height: 100%;
    overflow: auto;
    @include mq_medium {
    }
  }
  &__close {
    position: absolute;
    top: var(--margin-side);
    right: var(--margin-side);
  }
}
