.c-page-animate {
	// &::before {
	// 	content: "";
	// 	position: fixed;
	// 	top: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: #000;
	// 	z-index: 9999;
	// 	pointer-events: none;
	// 	right: 100%;
	// 	transition: right 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	// }

	&::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 9999;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	}
	&.is-fade-in::after {
		opacity: 1;
	}
	// &.is-fade::after {
	// 	opacity: 0;
	// }
	// &.is-slide-in::before {
	// 	right: 0;
	// }

	// &.is-slide::after {
	// 	left: 0;
	// }
}
