.c-scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.4s;
  z-index: 10;
  &:hover {
    opacity: 0.4;
  }
  &__item {
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 65px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 50px;
      background-color: #000;
      transform-origin: bottom;
      animation: arrow_scale 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s infinite alternate;
    }
    &--dark {
      color: #fff;
      &::after {
        background-color: #fff;
      }
    }
    &--shadow {
      text-shadow: 0px 0px 6px rgba(000, 000, 000, 1);
    }
  }
  &.is-hidden {
    opacity: 0;
  }
}

@keyframes arrow_scale {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
