.l-nav {
  position: fixed;
  z-index: 11;
  padding: var(--margin-side);
  width: 100%;
  transition: 0.3s;
  background-color: var(--gray-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior: none;
  @include mq_medium {
    display: none;
  }
  &--fade {
    top: var(--height-header);
    left: 0;
    visibility: hidden;
    opacity: 0;
    height: calc(100dvh - var(--height-header));
  }
  &__wrap {
    @include mq_medium_max {
      max-height: 100%;
      overflow: auto;
    }
  }
  &__inner {
  }
  &__nav {
  }
}
.is-nav-open {
  .l-nav {
    &--slide {
      transform: translateX(0);
    }
    &--fade {
      animation: fadein 0.2s linear 0s forwards;
    }
  }
}
