.p-button-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3px;
    background: var(--white);
    margin-left: -50%;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  @include mq_medium {
    width: 50px;
    height: 50px;
  }
}
