.p-link-gnav {
  display: block;
  padding: 8px;
  text-align: center;
  font-family: var(--font-family-en);
  font-size: get_vw_min(20, 22, 390);
  text-decoration: none;
  letter-spacing: 0.05em;
  color: var(--black);
  @include mq_medium {
    display: inline-block;
    padding: 0;
    padding-bottom: 8px;
    line-height: 1;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--black);
      transition: 0.2s;
      opacity: 0;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}
