.p-link-more {
  display: inline-block;
  font-family: var(--font-family-en);
  letter-spacing: 0.1em;
  font-size: get_vw_min(20, 22, 375);
  text-decoration: none;
  position: relative;
  padding-bottom: 8px;
  line-height: 1;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--black);
    transition: 0.2s;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gray-light);
  }
  &:hover {
    &::after {
      transform: translateX(10px);
    }
  }
  &__item {
  }
}
