.p-link-latenav {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  @include mq_medium_max {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
  }
  &::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 10px;
    height: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }
  &--next {
    padding-left: 0;
    padding-right: 20px;
    margin-left: auto;
    &::after {
      left: auto;
      right: 2px;
      transform: translateY(-50%) rotate(135deg);
    }
  }
}
