.p-nav-bread {
	&__item {
		line-height: 1;
		display: inline-block;
		&:not(:first-child) {
			margin-left: 35px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: calc(50% - 1px);
				left: -28px;
				width: 8px;
				height: 8px;
				border-top: 1px solid var(--black);
				border-right: 1px solid var(--black);
				transform: rotate(45deg) translateY(-50%);
			}
		}
	}
}
