.p-nav-global {
  &__item {
    &--icon {
      @include mq_medium {
        vertical-align: -2px;
      }
    }
    @include mq_medium_max {
      text-align: center;
      &:not(:first-child) {
        margin-top: get_vw(20, 390);
      }
    }
    @include mq_medium {
      display: inline-block;
      &:not(:first-child) {
        margin-left: get_vw(20, 1440);
      }
    }
  }
}
