.u-anime {
  &-mask {
    &--from-top-left {
      clip-path: inset(0 100% 100% 0);
      &.is-show {
        animation: mask-animation-from-top-left 1s cubic-bezier(0.48, 0.25, 0.33, 0.93) forwards;
      }
    }
  }
}
