.u-box {
  &-bd-radius-small {
    border-radius: var(--border-radius-small);
  }
  &-bd-radius-medium {
    border-radius: var(--border-radius-medium);
  }
  &-bd-radius-large {
    border-radius: var(--border-radius-large);
  }
  &-padding-small {
    padding: var(--padding-box-small);
  }
  &-padding-medium {
    padding: var(--padding-box-medium);
  }
  &-padding-large {
    padding: var(--padding-box-large);
  }
  &-center {
    margin-left: auto;
    margin-right: auto;
  }
  &-left {
    margin-right: auto;
  }
  &-right {
    margin-left: auto;
  }
  @include mq_medium_max {
    &-sp {
      &-center {
        margin-left: auto;
        margin-right: auto;
      }
      &-left {
        margin-right: auto;
      }
      &-right {
        margin-left: auto;
      }
    }
  }
  @include mq_medium {
    &-pc {
      &-center {
        margin-left: auto;
        margin-right: auto;
      }
      &-left {
        margin-right: auto;
      }
      &-right {
        margin-left: auto;
      }
    }
  }
}
