.u-img {
  &-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-fit {
    width: 100%;
  }
  &-radius {
    overflow: hidden;
    border-radius: var(--border-radius-small);
    @include mq_medium {
      border-radius: var(--border-radius-medium);
    }
    &-small {
      overflow: hidden;
      border-radius: var(--border-radius-xs);
      @include mq_medium {
        border-radius: var(--border-radius-small);
      }
    }
  }
}
