.u-inner {
  max-width: 1440px;
  margin-inline: auto;
  padding-left: get_vw(24, 390);
  padding-right: get_vw(24, 390);
  &--narrow {
    max-width: 1000px;
  }
  @include mq_medium {
    padding-left: get_vw(80, 1440);
    padding-right: get_vw(80, 1440);
  }
  &-sp {
    @include mq_medium_max {
      padding-left: get_vw(24, 390);
      padding-right: get_vw(24, 390);
    }
  }
}
