.is-inview {
	.u-inview {
		&__item {
			opacity: 0;
			transition: 0.5s;
			transform-origin: center;
			&--from_bottom {
				transform: translateY(30px);
			}
			&--from_left {
				transform: translateX(-30px);
			}
			&.is-fadein {
				opacity: 1;
				transform: translate(0, 0);
			}
			&--delay1 {
				transition-delay: 0.1s;
			}
			&--delay2 {
				transition-delay: 0.2s;
			}
			&--delay3 {
				transition-delay: 0.3s;
			}
			&--delay4 {
				transition-delay: 0.4s;
			}
			&--delay5 {
				transition-delay: 0.5s;
			}
		}
	}
}
