.u-lh {
	&-crop {
		&-small {
			@include line_height_crop(var(--line-height-small));
		}
		&-medium {
			@include line_height_crop(var(--line-height-medium));
		}
		&-large {
			@include line_height_crop(var(--line-height-large));
		}
	}
	&-xxs {
		line-height: var(--line-height-xxs);
	}
	&-xs {
		line-height: var(--line-height-xs);
	}
	&-small {
		line-height: var(--line-height-small);
	}
	&-medium {
		line-height: var(--line-height-medium);
	}
	&-large {
		line-height: var(--line-height-large);
	}
	&-xl {
		line-height: var(--line-height-xl);
	}
	&-10 {
		line-height: 1;
	}
	&-11 {
		line-height: 1.1;
	}
	&-12 {
		line-height: 1.2;
	}
	&-13 {
		line-height: 1.3;
	}
	&-14 {
		line-height: 1.4;
	}
	&-15 {
		line-height: 1.5;
	}
	&-16 {
		line-height: 1.6;
	}
	&-17 {
		line-height: 1.7;
	}
	&-18 {
		line-height: 1.8;
	}
	&-19 {
		line-height: 1.9;
	}
	&-20 {
		line-height: 2;
	}
	&-21 {
		line-height: 2.1;
	}
	&-22 {
		line-height: 2.2;
	}
	&-23 {
		line-height: 2.3;
	}
	&-24 {
		line-height: 2.4;
	}
	&-25 {
		line-height: 2.5;
	}
	&-26 {
		line-height: 2.6;
	}
	&-27 {
		line-height: 2.7;
	}
	&-28 {
		line-height: 2.8;
	}
	&-29 {
		line-height: 2.9;
	}
}
