.u-pd {
  &-t0 {
    padding-top: 0 !important;
  }
  &-t05 {
    padding-top: 5px !important;
  }
  &-t10 {
    padding-top: 10px !important;
  }
  &-t15 {
    padding-top: 15px !important;
  }
  &-t20 {
    padding-top: 20px !important;
  }
  &-t25 {
    padding-top: 25px !important;
  }
  &-t30 {
    padding-top: 30px !important;
  }
  &-t35 {
    padding-top: 35px !important;
  }
  &-t40 {
    padding-top: 40px !important;
  }
  &-t45 {
    padding-top: 45px !important;
  }
  &-t50 {
    padding-top: 50px !important;
  }
  &-t55 {
    padding-top: 55px !important;
  }
  &-t60 {
    padding-top: 60px !important;
  }
  &-t65 {
    padding-top: 65px !important;
  }
  &-t70 {
    padding-top: 70px !important;
  }
  &-t75 {
    padding-top: 75px !important;
  }
  &-t80 {
    padding-top: 80px !important;
  }
  &-t85 {
    padding-top: 85px !important;
  }
  &-t90 {
    padding-top: 90px !important;
  }
  &-t95 {
    padding-top: 95px !important;
  }
  &-t100 {
    padding-top: 100px !important;
  }
  &-b0 {
    padding-bottom: 0;
  }
  &-b05 {
    padding-bottom: 5px !important;
  }
  &-b10 {
    padding-bottom: 10px !important;
  }
  &-b15 {
    padding-bottom: 15px !important;
  }
  &-b20 {
    padding-bottom: 20px !important;
  }
  &-b25 {
    padding-bottom: 25px !important;
  }
  &-b30 {
    padding-bottom: 30px !important;
  }
  &-b35 {
    padding-bottom: 35px !important;
  }
  &-b40 {
    padding-bottom: 40px !important;
  }
  &-b45 {
    padding-bottom: 45px !important;
  }
  &-b50 {
    padding-bottom: 50px !important;
  }
  &-b55 {
    padding-bottom: 55px !important;
  }
  &-b60 {
    padding-bottom: 60px !important;
  }
  &-b65 {
    padding-bottom: 65px !important;
  }
  &-b70 {
    padding-bottom: 70px !important;
  }
  &-b75 {
    padding-bottom: 75px !important;
  }
  &-b80 {
    padding-bottom: 80px !important;
  }
  &-b85 {
    padding-bottom: 85px !important;
  }
  &-b90 {
    padding-bottom: 90px !important;
  }
  &-b95 {
    padding-bottom: 95px !important;
  }
  &-b100 {
    padding-bottom: 100px !important;
  }
  &-l0 {
    padding-left: 0 !important;
  }
  &-r0 {
    padding-right: 0 !important;
  }
}
@include mq_medium_max {
  .u-pd {
    &-sp {
      &-t0 {
        padding-top: 0;
      }
      &-t05 {
        padding-top: 5px !important;
      }
      &-t10 {
        padding-top: 10px !important;
      }
      &-t15 {
        padding-top: 15px !important;
      }
      &-t20 {
        padding-top: 20px !important;
      }
      &-t25 {
        padding-top: 25px !important;
      }
      &-t30 {
        padding-top: 30px !important;
      }
      &-t35 {
        padding-top: 35px !important;
      }
      &-t40 {
        padding-top: 40px !important;
      }
      &-t45 {
        padding-top: 45px !important;
      }
      &-t50 {
        padding-top: 50px !important;
      }
      &-t55 {
        padding-top: 55px !important;
      }
      &-t60 {
        padding-top: 60px !important;
      }
      &-t65 {
        padding-top: 65px !important;
      }
      &-t70 {
        padding-top: 70px !important;
      }
      &-t75 {
        padding-top: 75px !important;
      }
      &-t80 {
        padding-top: 80px !important;
      }
      &-t85 {
        padding-top: 85px !important;
      }
      &-t90 {
        padding-top: 90px !important;
      }
      &-t95 {
        padding-top: 95px !important;
      }
      &-t100 {
        padding-top: 100px !important;
      }
      &-b0 {
        padding-bottom: 0;
      }
      &-b05 {
        padding-bottom: 5px !important;
      }
      &-b10 {
        padding-bottom: 10px !important;
      }
      &-b15 {
        padding-bottom: 15px !important;
      }
      &-b20 {
        padding-bottom: 20px !important;
      }
      &-b25 {
        padding-bottom: 25px !important;
      }
      &-b30 {
        padding-bottom: 30px !important;
      }
      &-b35 {
        padding-bottom: 35px !important;
      }
      &-b40 {
        padding-bottom: 40px !important;
      }
      &-b45 {
        padding-bottom: 45px !important;
      }
      &-b50 {
        padding-bottom: 50px !important;
      }
      &-b55 {
        padding-bottom: 55px !important;
      }
      &-b60 {
        padding-bottom: 60px !important;
      }
      &-b65 {
        padding-bottom: 65px !important;
      }
      &-b70 {
        padding-bottom: 70px !important;
      }
      &-b75 {
        padding-bottom: 75px !important;
      }
      &-b80 {
        padding-bottom: 80px !important;
      }
      &-b85 {
        padding-bottom: 85px !important;
      }
      &-b90 {
        padding-bottom: 90px !important;
      }
      &-b95 {
        padding-bottom: 95px !important;
      }
      &-b100 {
        padding-bottom: 100px !important;
      }
      &-l0 {
        padding-left: 0 !important;
      }
      &-r0 {
        padding-right: 0 !important;
      }
    }
  }
}
@include mq_medium {
  .u-pd {
    &-pc {
      &-t0 {
        padding-top: 0;
      }
      &-t05 {
        padding-top: 5px !important;
      }
      &-t10 {
        padding-top: 10px !important;
      }
      &-t15 {
        padding-top: 15px !important;
      }
      &-t20 {
        padding-top: 20px !important;
      }
      &-t25 {
        padding-top: 25px !important;
      }
      &-t30 {
        padding-top: 30px !important;
      }
      &-t35 {
        padding-top: 35px !important;
      }
      &-t40 {
        padding-top: 40px !important;
      }
      &-t45 {
        padding-top: 45px !important;
      }
      &-t50 {
        padding-top: 50px !important;
      }
      &-t55 {
        padding-top: 55px !important;
      }
      &-t60 {
        padding-top: 60px !important;
      }
      &-t65 {
        padding-top: 65px !important;
      }
      &-t70 {
        padding-top: 70px !important;
      }
      &-t75 {
        padding-top: 75px !important;
      }
      &-t80 {
        padding-top: 80px !important;
      }
      &-t85 {
        padding-top: 85px !important;
      }
      &-t90 {
        padding-top: 90px !important;
      }
      &-t95 {
        padding-top: 95px !important;
      }
      &-t100 {
        padding-top: 100px !important;
      }
      &-b0 {
        padding-bottom: 0;
      }
      &-b05 {
        padding-bottom: 5px !important;
      }
      &-b10 {
        padding-bottom: 10px !important;
      }
      &-b15 {
        padding-bottom: 15px !important;
      }
      &-b20 {
        padding-bottom: 20px !important;
      }
      &-b25 {
        padding-bottom: 25px !important;
      }
      &-b30 {
        padding-bottom: 30px !important;
      }
      &-b35 {
        padding-bottom: 35px !important;
      }
      &-b40 {
        padding-bottom: 40px !important;
      }
      &-b45 {
        padding-bottom: 45px !important;
      }
      &-b50 {
        padding-bottom: 50px !important;
      }
      &-b55 {
        padding-bottom: 55px !important;
      }
      &-b60 {
        padding-bottom: 60px !important;
      }
      &-b65 {
        padding-bottom: 65px !important;
      }
      &-b70 {
        padding-bottom: 70px !important;
      }
      &-b75 {
        padding-bottom: 75px !important;
      }
      &-b80 {
        padding-bottom: 80px !important;
      }
      &-b85 {
        padding-bottom: 85px !important;
      }
      &-b90 {
        padding-bottom: 90px !important;
      }
      &-b95 {
        padding-bottom: 95px !important;
      }
      &-b100 {
        padding-bottom: 100px !important;
      }
      &-l0 {
        padding-left: 0 !important;
      }
      &-r0 {
        padding-right: 0 !important;
      }
    }
  }
}
