@charset "utf-8";

@import "foundation/mixin";
@import "foundation/mixin-editor.scss";
@import "foundation/mixin-media.scss";
@import "foundation/mixin-bg.scss";
@import "foundation/variables";
@import "foundation/keyframes";
@import "foundation/normalize";
@import "foundation/reset";
@import "foundation/base";

@import "lib/slick";
@import "lib/wp";

@import "object/component/**/_*.scss";
@import "object/component/**/!(_)*.scss";

// @import "lib/**/_*.scss";
// @import "lib/**/!(_)*.scss";

@import "object/project/**/_*.scss";
@import "object/project/**/!(_)*.scss";

@import "layout/**/_*.scss";
@import "layout/**/!(_)*.scss";

@import "object/utility/**/_*.scss";
@import "object/utility/**/!(_)*.scss";
