include ../_components/_config.pug

doctype
html(lang="ja")
  head
    include ../_components/_head_meta.pug
    meta(property="og:title", content=SITE_NAME)
    include ../_components/_head_link.pug
    title #{SITE_NAME}
  body
    div(style="display:none")
      include ../_components/_sprite.pug
    include ../_components/_header.pug
    main.l-main
      .l-main__contents
        .p-section-primary
          section.p-section-primary__item.u-inner
            .p-block-cms.p-block-cms--works
              .p-block-cms__header
                .p-block-cms__eyechatch
                  img(src="/img/pic/shibayama01.webp", alt="")
                .p-block-cms__title 朝倉の家Ⅰ
                .p-block-cms__sub 30坪のシンプルな平屋
                .p-block-cms__summary
                  p.u-lh-large 新しい分譲地の中に建つ、30坪のシンプルな平屋です。
                    br
                    | 室内は光に包まれ、風が通り抜ける居心地のよい空間です。
                    br
                    | どこかかわいらしく、まちの人も親しみが持てるような家を目指しました。
              .p-block-cms__entry 
                section.wp-block-group
                  .wp-block-group__inner-container
                    ol
                      li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                      li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                      li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    ul
                      li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                      li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                      li テキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    h2.wp-block-heading 見出し（h2）
                    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                      a(href="#") テキストリンク
                    h3.wp-block-heading 見出し（h3）
                    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    h4.wp-block-heading 見出し（h4）
                    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    .wp-block-columns.is-layout-flex.wp-container-core-columns-layout-1.wp-block-columns-is-layout-flex
                      .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow(style="flex-basis: 66.66%")
                        p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                      .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow(style="flex-basis: 33.33%")
                        figure.wp-block-image.size-full
                          img(decoding="async", src="/img/pic/shibayama01.webp", alt)

                    .wp-block-columns.is-layout-flex.wp-container-core-columns-layout-2.wp-block-columns-is-layout-flex
                      .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow
                        figure.wp-block-image.size-full
                          img(decoding="async", src="/img/pic/shibayama01.webp", alt)
                      .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow
                        figure.wp-block-image.size-full
                          img(decoding="async", src="/img/pic/shibayama01.webp", alt)
                    figure.wp-block-image.size-full
                      img(decoding="async", src="/img/pic/shibayama01.webp")



    include ../_components/_footer.pug
